:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

nav {
  border-bottom: 5px solid #4b6cb7;
}

h4 {
  color: #182848;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

.borderCountry:hover,
.countriesList:hover {
  background-color: #4b6cb7;
}

.borderCountry:hover a {
  color: white;
}

.main {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}
